@*Para yo poder traer la informacion necesito importar mi modelo*@
@model ML.Usuario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<style>
    .table_component {
        overflow: auto;
        width: 100%;
    }

        .table_component table {
            border: 1px groove #440a45;
            height: 100%;
            width: 100%;
            table-layout: auto;
            text-align: left;
            border-collapse: separate;
            border-spacing: 2px;
        }

        .table_component th {
            border: 1px groove #440a45;
            background-color: #a239ff;
            color: #000000;
            padding: 5px;
        }

        .table_component td {
            border: 1px groove #440a45;
            background-color: #ffffff;
            color: #000000;
            padding: 5px;
        }

    input[type=text], input[type=date], input[type=number], input[type=password],
    input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 3px solid;
        border-block-color: rgb(170, 50, 220, .6);
    }

    #hide {
        position: relative;
        background-color: #ffffff;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        border: 2px solid rgb(170, 50, 220, .6);
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
    }

    .visible {
        opacity: 1;
        max-height: 800px;
        padding: 20px;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
@*<div class="text-center">
            <h4>Lista de Usuarios</h4>
        </div>
    <br />*@
<div id="hide">
    @using (Html.BeginForm("GetAll", "Usuario", FormMethod.Post))
    {
        <div class="text-center">
            <div>
                <h5>
                    <strong>
                        Realice una búsqueda
                    </strong>
                </h5>
            </div>
        </div>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-4">
                    @Html.LabelFor(model => model.Nombre)
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                </div>
                <div class="col-4">
                    @Html.LabelFor(model => model.ApellidoPaterno)
                    @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control" })
                </div>
                <div class="col-4">
                    @Html.LabelFor(model => model.ApellidoMaterno)
                    @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control" })
                </div>
                <div class="col-4">
                    @Html.LabelFor(model => model.Rol.Roles)
                    @Html.DropDownListFor(model => model.Rol.IdRol, new SelectList(Model.Rol.Roles, "IdRol", "Nombre"), "Seleccione el rol", new { @class = "form-control text-center", @style = "border: 2px solid purple;" })
                </div>
                <div class="text-center">
                    <div class="col-12">
                        <button class="btn btn-outline-info" type="submit"> <i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>

        </div>
    }
</div>
<br />
<div class="text-lg-end">
    <div class="col-12">
        <button id="oculto" class="btn btn-outline-primary" onclick="Show()">
            Busqueda abierta
        </button>
    </div>
</div>
<br />
<div class="container">
    <div class="align-content-lg-end">
        <a href="@Url.Action("Form", "Usuario")" class="btn btn-outline-info" type="submit">Agregar</a>
    </div>
</div>
<br />
@using (Html.BeginForm("CargaMasivaExcel", "Usuario", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div>

        <h5>
            <strong>
                Carga masiva Excel
            </strong>
        </h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <input type="file" name="Excel" class="form-control" />
            </div>
            @if (Session["RutaExcel"] == null)
            {
                <div class="col-2">
                    <button class="form-control btn btn-outline-success" type="submit">Subir Excel</button>
                </div>
            }
            else
            {
                <div class="col-2">
                    <button class="form-control btn btn-outline-success" type="submit">Insertar Excel</button>
                </div>
            }

        </div>
    </div>
}

<br />
@if (Model.Usuarios.Count > 0)
{
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="table_component table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">Estatus</th>
                                <th class="text-center" scope="col">UserName</th>
                                <th class="text-center" scope="col">Nombre</th>
                                <th class="text-center" scope="col">Email</th>
                                @*<th class="text-center" scope="col">Password</th>
                                    <th class="text-center" scope="col">Fecha de Nacimiento</th>
                                    <th class="text-center" scope="col">Sexo</th>
                                    <th class="text-center" scope="col">Telefono</th>
                                    <th class="text-center" scope="col">Celular</th>
                                    <th class="text-center" scope="col">CURP</th>*@
                                <th class="text-center" scope="col">Imagen</th>
                                <th class="text-center" scope="col">Direccion</th>
                                <th class="text-center" scope="col">Rol</th>
                                <th scope="col">
                                    Editar
                                </th>
                                <th scope="col">
                                    Eliminar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ML.Usuario usuario in Model.Usuarios)
                            {
                                <tr>
                                    <td class="text-center">
                                        <div class="text-center">
                                            @if (usuario.Estatus)
                                            {
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked onchange="CambioEstatus(@usuario.IdUsuario, this)">
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" onchange="CambioEstatus(@usuario.IdUsuario, this)">
                                                </div>
                                            }
                                        </div>

                                    </td>
                                    <td class="text-center">@usuario.UserName</td>
                                    <td class="text-center">@usuario.Nombre @usuario.ApellidoPaterno @usuario.ApellidoMaterno</td>
                                    <td class="text-center">@usuario.Email</td>
                                    @*<td class="text-center">@usuario.Password</td>
                                        <td class="text-center">@usuario.FechaNacimiento</td>
                                        <td class="text-center">@usuario.Sexo</td>
                                        <td class="text-center">@usuario.Telefono</td>
                                        <td class="text-center">@usuario.Celular</td>
                                        <td class="text-center">@usuario.CURP</td>*@
                                    <td class="text-center">
                                        @if (usuario.Imagen != null && usuario.Imagen.Length > 0)
                                        {
                                            <img src="data:image/*;base64,@Convert.ToBase64String(usuario.Imagen)" class="avatar" width="50" height="50" />
                                        }
                                        else
                                        {
                                            <img class="center" id="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdnWgZDAdXZemvgse9Ky3sguQEMSeVUkxkcsk_ZFvu9uLsbaEAjdfBLamh7giYmG6vWZs&usqp=CAU" max-width="50" height="50">
                                        }
                                    </td>
                                    <td style="font-size:10px">
                                        Calle: @usuario.Direccion.Calle <br /> Num. Exterior: @usuario.Direccion.NumeroExterior <br />Num. Interior: @usuario.Direccion.NumeroInterior <br /> CP: @usuario.Direccion.Colonia.CodigoPostal   <br />Colonia: @usuario.Direccion.Colonia.Nombre <br />
                                        Municipio: @usuario.Direccion.Colonia.Municipio.Nombre
                                    </td>
                                    <td class="text-center">@usuario.Rol.Nombre</td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Form", "Usuario", new { IdUsuario = usuario.IdUsuario })" class="btn btn-warning">
                                            <i class="bi bi-pencil-fill"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Delete", "Usuario", new { IdUsuario = usuario.IdUsuario })" class="btn btn-danger" onclick="return confirm('¿Esta seguro de eliminar al usuario?')">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>
            <i class="bi bi-eye-slash"></i> NO SE ENCONTRO NINGÚN USUARIO!
        </strong>
    </div>
}

<script src="~/Scripts/jquery-3.7.0.js"></script>
<script>
    function CambioEstatus(IdUsuario, input) {
        let estatus = input.checked
        $.ajax({
            url: "@Url.Action("CambioEstatus", "Usuario")",
            data: { IdUsuario: IdUsuario, Estatus: estatus },
            type: "POST",
            dataType: "json",
            success: {},
            error: {}
        })
    }
    //MOSTRAR  OCULTAR EL DIV DE BUSQUEDA
    function Show() {
        var x = document.getElementById("hide");
        if (x.classList.contains("visible")) {
            x.style.maxHeight = "0px";
            x.classList.remove("visible");
        } else {
            x.style.maxHeight = x.scrollHeight + "px";
            x.classList.add("visible");
        }
    }
</script>
